     <!--  <li><a routerLink="/" class="nav-link px-2 text-white">Lista</a></li>
            <li><a routerLink="/newcontact" class="nav-link px-2 text-white">Adicionar</a></li>
            <li><a routerLink="/about" class="nav-link px-2 text-white">About</a></li> -->

                
  <ul class="nav nav-tabs justify-content-end">
   
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/">Lista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/newcontact">Adicionar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  </ul>


