<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><i class="bi bi-person-rolodex h1 align-items-center justify-content-center"></i></li>
        <li><h1 class="h1">Lista de contatos</h1>        </li>

      </ul>

      

      <div class="text-end">
        <ul class="nav nav-tabs justify-content-end">
          <li class="nav-item">
            <button class=" btn btn-primary" routerLink="/newcontact">Adicionar</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</header>
                
  


