.wrapper {
    background-color: #e6e6e6;
    width: 200px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.circle {
    display: flex;
    background-color: #261c78;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 100px;
    transition: 0.4s;
}

.circle:hover {
    transform: scale(1.1)
}