 @media (min-width: 900px) {
  
  .formwrapper {
    display: flex;
    width: 800px;
    align-items: center;
    margin: 0;
  }

  #formulario {
    width: 800px;
    align-self: center;
    margin: 0;
  }
}

#inputbtn {
  margin-left: 205px;
}